<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>author page</title>
</head>
<body>
<a href="/"><button>Home🏠</button></a>
<div>
<p> User: {{author.username}}</p>
<div class="counter">
<h3><p>Followers: {{following_count}}</p>
<p>Tweets: {{ tweet_count }}</p></h3>
</div>

<div class = 'follow-unfollow'>
{{is_following}}
{% if author in all_followers %}

<a href = {% url 'unfollow' author.id%}><button>Following</button></a>
{%else%}
<a href = {% url 'follow' author.id%}><button>Follow</button></a>
{%endif%}
</div>

<h3> This is {{author.username}} Tweets 🦜</h3>
</div class="twitter_feed">

<ul>    
    {% for tweets in user_tweets%}
    <li>
    {% comment %} {{tweets}} {% endcomment %}
 <a href = {%url 'tweet_view' id=tweets.id%}>{{tweets}}</a>

    </li>
    </div>
    {% endfor %}
</ul>
</body>
</html>